include LICENSE
include ChangeLog
include README.rst
include CHANGES.rst
include requirements-test.txt
include requirements.txt
include weblate_schemas/*.py
recursive-include weblate_schemas/schemas *
global-exclude *.swp *.swo
